<!DOCTYPE html>
<html>
  <head>
    <title>OjalaBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

	
  	<nav>
  		<div class="container">
	  		<div class="nav-wrapper">
	  			<a href="#!" class="brand-logo">
	  				<h4>Ojalabook</h4>
	  			</a>
	  			<ul id="nav-mobile" class="right hide-on-med-and-down">
	  				<li>
	  					<%= link_to "Status", timeline_path %>
	  				</li>

	  				<% if user_signed_in? %>

	  					<li>
		  					<%= link_to current_user.nombre_completo, edit_user_registration_path %>
		  				</li>

						<li>
		  					<%= link_to 'Cerrar Sesión', desconectar_path %>
		  				</li>

		  			<% else %>

			  			<li>
		  					<%= link_to 'Registrate', registrar_path %>
		  				</li>
		  				<li>
		  					<%= link_to 'Iniciar Sesión', inicio_path %>
		  				</li>
	  						
	  				<% end %>
	  				
	  				
	  			</ul>
	  		</div>
		</div>
  		
  	</nav>

	<div class="container">

		<% flash.each do |type, message| %>
			
				<script>				
				  var $toastContent = $('<span><%= message %></span>');
				  Materialize.toast($toastContent, 5000);        
				</script>
			
		<% end %>
	

		<%= yield %>
	</div>
    
</body>
</html>
